<!DOCTYPE html>
<html lang="ko">

<head>
    <title>PLAYLABS</title>

    <!-- default meta -->
    <meta name="description"
    content="PLAYLABS는 언제든지 재미있게, 자신의 아이디어를 공유하고 실현하며,
    새로운 세상과 변화를 만들어가는 메이킹 팀입니다.">
    <meta name=”keywords” content="PLAYLABS,플레이랩스,플랩,메이킹,창작">

    <!-- setting meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- og meta -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PLAYLABS">
    <meta property="og:title" content="PLAYLABS 공식 홈페이지">
    <meta property="og:description" content="언제나, 재미있게! PLAYLABS">

    <!-- search engine meta -->
    <meta name="naver-site-verification" content="18e3038e7ac038c9f480541a987999af29e95864">

    <!-- favicon -->
    <link rel="shortcut icon" href="./res/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="./res/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./res/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./res/favicon/favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">

    <!-- link stylesheet -->
    <link rel="stylesheet" href="./styles/root.css">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/register.css">

    <!-- install htmlx -->
    <script defer src="https://unpkg.com/htmx.org@1.9.12"></script>

    <!-- page scripts -->
    <script defer src="./scripts/index.js"></script>
    <script defer src="./scripts/root.js"></script>
</head>

<body>
    <!-- nav area -->
    <nav hx-get="nav.html" hx-trigger="load"></nav>

    <!-- main content -->
    <main>
        <!-- register alert -->
        <div class="register-background">
            <div class="register-dialog">
                <img src="res/register.png" class="register-image">
                <div class="register-button-area">
                    <div class="register-button" onclick="location.href='https://backgwa.kro.kr/PLAYLABS/'">
                        <div>메이커 신청하기</div>
                    </div>
                    <div class="register-button low-effect" onclick="closeDialog();">
                        <div>닫기</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 1 -->
        <section id="section1">
            <video id="bg-video" preload="auto" autoplay muted loop>
                <source src="./res/background.webm" type="video/webm">
            </video>
            <div class="background-filter"></div>
            <div class="message">
                Our <strong>making</strong> makes<br>
                <strong>people</strong> and<br>
                the world.
            </div>
        </section>
        <!-- footer -->
        <footer hx-get="footer.html" hx-trigger="load"></footer>
    </main>
</body>

</html>