/* global styles */

main {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: start;
    background-size: cover;
}

.background-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--default-background-alpha);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    z-index: 0;
}

/* section 1 */

#section1 {
    background-color: var(--default-background);
}

#section1 video {
    position: absolute;
    min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
    pointer-events: none;
}

#section1 .message {
    position: absolute;
    font-size: var(--header-font-size);
    font-weight: 900;
    color: var(--font-color);
    white-space: nowrap;
    line-height: 0.97;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#section1 strong {
    font-size: var(--header-font-size);
    font-weight: 900;
    color: var(--accent);
}

/* section 2 */

#section2 {
    background-color: bisque;
}

/* section 3 */

#section3 {
    background-color: brown;
}

/* section 4 */

#section4 {
    background-color: lightseagreen;
}