/* navbar */

nav {
    position: fixed;
    width: 100%;
    height: 8rem;
    z-index: 10;
    overflow: visible;
}

.nav-container {
    position: relative;
    width: 90%;
    max-width: 1400px;
    height: 2rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.55s var(--default-bezier);
}

/* small navbar */

@media (max-width: 940px) {
    nav {
        height: 6rem;
    }

    .nav-container {
        width: 100%;
        height: 6rem;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* mobile navbar */

@media (max-width: 640px) {
    nav {
        height: 4rem;
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
    }

    .nav-container {
        width: 100%;
        height: 4rem;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .show-menu .nav-container {
        background: var(--default-background);
    }
}

/* navbar logo */

.nav-logo {
    width: auto;
    height: 2rem;
}

/* small navbar logo */

@media (max-width: 940px) {
    .nav-logo {
        height: 1.75rem;
        margin-top: 1.2rem;
    }
}

/* mobile navbar log */

@media (max-width: 640px) {
    .nav-logo {
        margin-top: 0;
        margin-left: 2rem;
    }
}

/* navbar menu */

.nav-menu {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-color);
    text-decoration: none;
    margin: 0 0 0 2rem;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    transition: 0.2s var(--default-bezier);
}

.nav-menu a:hover {
    color: var(--hover-font-color);
    background: var(--hover-background);
}

/* small navbar menu */
@media (max-width: 940px) {
    .nav-menu {
        width: 100%;
        margin: 1.25rem 0 0 0;
        justify-content: space-evenly;
    }

    .nav-menu a {
        margin: 0;
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
    }
}

/* mobile navbar menu */

@media (max-width: 640px) {
    .nav-menu {
        display: none;
    }
}

/* mobile navbar menu button */

.mobile-nav-menu-button {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-image: url(../res/navmenu_open.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg) skew(0deg);
    transition: 0.4s var(--default-bezier);
}

.show-menu .mobile-nav-menu-button {
    background-image: url(../res/navmenu_close.svg);
    transform: rotate(90deg);
}

@media (max-width: 640px) {
    .mobile-nav-menu-button {
        display: block;
    }
}

/* mobile navmenu */

.mobile-nav-menu {
    position: absolute;
    width: 100%;
    height: calc(100vh - 4rem);
    display: none;
    right: 0;
    opacity: 0.0;
    background: var(--default-background);
    transition: 0.55s var(--default-bezier);
    transform: translateX(125%);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mobile-nav-menu::-webkit-scrollbar {
    display: none;
}

@media (max-width: 640px) {
    .mobile-nav-menu {
        display: block;
    }
}

.show-menu .mobile-nav-menu {
    opacity: 1.0;
    transform: translateX(0%);
}

/* mobile navbar menu list */

.mobile-nav-menu .menu-list {
    width: calc(100% - 2.5rem);
    height: calc(100% - 4rem);
    margin: 2rem 0rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
}

/* mobile navbar menu list item */

.mobile-nav-menu .menu-list a {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--font-color);
    padding: 1rem 0 1rem 0.1rem;
    margin-top: 2rem;
    text-decoration: none;
    border-bottom: 1px solid var(--menu-boarder-color);
    transition: 0.15s var(--default-bezier);
}

.mobile-nav-menu .menu-list a:hover {
    color: var(--accent);
}