/* font family */

@import url("https://fonts.cdnfonts.com/css/mona-sans");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* required stylesheets */

@import url("./nav.css");

/* global variables */

:root {
    /* font size */
    --header-font-size: clamp(1.2rem, 7vw, 6rem);

    /* background color */
    --default-background: #000000;
    --default-background-alpha: #000000B0;
    --hover-background: #FFFFFF;

    /* border color */
    --menu-boarder-color: #2A2A2A;

    /* font color */
    --font-color: #F5F5F5;
    --hover-font-color: #000000;

    /* accent color */
    --accent: #44FFD2;

    /* bezier */
    --default-bezier: cubic-bezier(0.14, 0.95, 0.11, 1.01);
}

/* global setting */

* {
    font-family: "Mona-Sans", "Pretendard Variable", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* page default setting */

html, body {
    height: 100vh;
    margin: 0;
    background: var(--default-background);
}